/* Bots */
.bots {
    margin-top: 1rem;
}

/* Add Bot */
.add-bot {
    all: unset;
    
    display: flex;
    align-items: center;
    gap: 15px;

    border: 1px dashed var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--primary-color) !important;

    width: fit-content;
    font-size: .95rem;
    padding: .3rem 1.5rem;

    transition: .1s;
    cursor: pointer;
}

.add-bot .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px dashed var(--primary-color);
    border-radius: 100%;

    padding: .25rem;
}

.add-bot .icon {
    font-size: .6rem;
    height: .6rem;
    color: var(--primary-color);
}

.add-bot:hover {
    opacity: 75%;
}

.add-bot:active {
    opacity: 50%;
    transform: scale(0.95);
}

/* Title */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Bot Preview */
.bot-preview {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: 1px dashed var(--primary-color);
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}

.bot-preview .image {
    border: 2px dotted var(--primary-color) !important;
    border-radius: 100%;
}

.bot-preview .info {
    opacity: 85%;
    margin-left: 1rem;
}

.bot-preview .tag {
    font-weight: 500;
    font-size: 1.25rem;
}

.bot-preview .description {
    margin-top: .25rem;
}