/* Main */
main {
    display: flex;
    gap: var(--container-gap);
}

/* Containers */
.container {
    padding: var(--container-padding);
    height: calc(100vh - (4 * var(--body-padding)));
    border-radius: var(--border-radius);
    background-color: var(--background-color-dark);
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
    width: var(--sidebar-width) !important;
}

/* Right */
.right {
    width: var(--content-width) !important;
}

.right .logs {
    display: none;
}

.right.logs-active {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.right.logs-active .content {
    height: 70%;
}

.right.logs-active .logs {
    height: 30%;
    display: block;
}