/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Branding Icon */
.branding {
    width: 75%;
}

/* Branding Info */
.branding .info {
    text-align: center;
    margin-top: -.25rem;
    font-size: .9rem;
    opacity: 75%;
}

/* Link */
.link {
    text-decoration: none;
}

/* Buttons */
.buttons, .tabs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Button */
.button {
    width: 5rem !important;
    height: 1.5rem !important;
}

/* Tabs */
.tabs {
    gap: 10px;
}

/* Tab */
.tab {
    height: 1.5rem !important;
}

.tab-active {
    color: var(--primary);
    opacity: 50% !important;
}

.tab-disabled {
    pointer-events: none !important;
    opacity: 25% !important;
}