/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
.buttons, .tabs {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.buttons {
    margin-top: auto;
}

/* Button */
.button {
    width: calc(100% - 3.5rem) !important;
    height: 1.5rem !important;
}

/* Tabs */
.tabs {
    gap: 10px;
}

/* Tab */
.tab {
    height: 1.5rem !important;
}

.tab-active {
    color: var(--primary);
    opacity: 50% !important;
}

.tab-disabled {
    pointer-events: none !important;
    opacity: 25% !important;
}

/* Link */
.link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
    .button {
        padding: .4rem 1rem !important;
        width: calc(100% - 2rem) !important;
    }

    .button span {
        display: none !important;
    }
}